.box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(3px);
}
.outer-box {
  background-color: #fff;
  min-width: 410px;
  height: 110px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 7px 15px;
}

/* Style for the inner container */
.inner-container {
  display: flex;
  justify-content: space-between;
}

/* Style for the buttons */
.buttons {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}

/* Style for individual buttons */
.buttons button {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 30px;
  margin: 5px;
  cursor: pointer;
}

/* Style for the "Delete" button */
.buttons button:last-child {
  background-color: rgba(255, 53, 0, 255);
  color: #fff;
}

/* Remove background color for "Cancel" text */
.buttons button:first-child {
  background-color: transparent;
  color: #000;
}
.x {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: inherit;
  color: inherit;
}
