/* UserList.css */
.user-header {
  display: flex;
  align-items: center;
}
/* Style for the arrow button */
/* Style for the arrow button */
.user-header .arrow {
  display: flex;
  justify-content: flex-end; /* Align the arrow to the right */
  align-items: center; /* Center the arrow vertically */
  flex-grow: 1; /* Allow the arrow to take up all available space */
  /* Your styles for the arrow here */
  font-size: 24px; /* Adjust the size as needed */
  font-weight: bold; /* Make it bold */
  cursor: pointer; /* Add pointer cursor for interaction */
}

/* Style for open accordion */
.user.open .user-details {
  display: block;
  padding: 10px;

  border: 0px solid #000;
  border-radius: 10px;
  margin-top: 10px;
}

/* Style for closed accordion */
.user:not(.open) .user-details {
  display: none;
}

/* Style for user headers */
.user-container {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 40%;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 20px;
}

.image-name {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.user-header img {
  width: 50px; /* Adjust the image width as needed */
  height: 50px; /* Adjust the image height as needed */
  border: 3px solid #ccc; /* Add a 3px border outside the image */
  border-radius: 50%; /* Make the image circular */
  margin: 0 auto; /* Center the image horizontally */
}
