.accordion {
  max-width: 420px;
  border: 2px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out; /* Add a smooth transition */
  max-height: 0;
}
/* .onOpen {
    display: flex;
    flex-direction: column;
  } */
.collapsed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.img-name {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.dob-gender {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.description {
  align-items: center;
  padding-bottom: 20px;
}

.open {
  max-height: 400px; /* Adjust the height based on your content */
}
.closed {
  max-height: 50px; /* Keep the closed state */
}
.content {
  overflow: hidden;
}
.circular-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.edit-save {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.forlabel {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.disabled-input {
  border: none;
  background-color: transparent;
  font-weight: normal;
  color: inherit;
}
.endabled-input {
  border: 1px solid #ccc;
  background-color: #fff; /* Example background color */
  font-weight: normal; /* Set the font weight to normal */
  color: #333; /* Example text color */
  cursor: text; /* Set cursor to text when enabled */
  border-radius: 10px;
  height: 30px;
  width: 100px;
}
.flexing-down {
  display: flex;
  flex-direction: column;
}
.disabled-textarea {
  min-height: 100px;
  min-width: 410px;
  max-width: 410px;
  border: none;
  background-color: transparent;
  resize: none;
  font-weight: normal;
  color: inherit;
}
.enabled-textarea {
  border: 1px solid #ccc;
  background-color: #fff;
  min-height: 100px;
  min-width: 400px;
  max-width: 400px;
  resize: none;
  border-radius: 20px;
  padding: 7px;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
label {
  margin-bottom: 5px;
}
