body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
.accordion {
  max-width: 420px;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  max-height: 0;
}

.collapsed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.img-name {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.dob-gender {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.description {
  align-items: center;
  padding-bottom: 10px;
}

.open {
  max-height: 400px;
}
.closed {
  max-height: 50px;
}

/* Styles for circular images */
.content {
  overflow: hidden;
}

/* Styles for circular images */
.circular-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid #ccc;
}

/* Styles for the edit and save buttons section */
.edit-save {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

/* Styles for labels */
.forlabel {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.disabled-input {
  padding-left: 5px;
  border: 1px solid transparent;
  background-color: transparent;
  font-weight: normal;
  color: white;  /* Set text color to white */
  height: 30px;
  width: 110px;
  margin-left: 5px;
  margin-right: 5px;
}

.endabled-input {
  padding-left: 5px;
  border: 1px solid #ccc;
  background-color: #222223;
  font-weight: normal;
  color: white;  /* Set text color to white */
  cursor: text;
  border-radius: 10px;
  height: 30px;
  width: 110px;
  margin-left: 5px;
  margin-right: 5px;
}
.flexing-down {
  display: flex;
  flex-direction: column;
}
.disabled-textarea {
  min-height: 100px;
  min-width: 400px;
  max-width: 400px;
  border: 1px solid transparent;
  background-color: transparent;
  resize: none;
  font-weight: normal;
  color: white;
  border-radius: 20px;
  padding: 7px;
  font-family: "Roboto", sans-serif;
}
.enabled-textarea {
  border: 1px solid #ccc;
  
  min-height: 100px;
  min-width: 400px;
  max-width: 400px;
  resize: none;
  border-radius: 20px;
  padding: 7px;
  font-family: "Roboto", sans-serif;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
label {
  font-size: 15px;
  font-weight: 200;
  color: gray;
  padding-left: 8px;
}
.disabled-gender-dropdown {
  border: 1px solid transparent;
  background-color: transparent;
  font-weight: normal;
  color: white;
  appearance: none;
  border-radius: 10px;
  height: 30px;
  width: 100px;
  padding-left: 9px;
  margin-left: 5px;
  margin-right: 5px;
}
.icon {
  width: 20px;
}
.capsName {
  margin-left: -10px;
  font-size: 14px;
  font-weight: bold;
}
.selectStyle {
  height: 33px;
  width: 108px;
  color: white; /* Set the default text color for the select element */
}

.selectStyle option {
  color: white; 
}
.arrow {
  margin: 8px;
}
